@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
    font-family: 'BodoniFLF';
    src: url('./assets/BodoniFLF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'BodoniFLF';
    src: url('./assets/BodoniFLF-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  